@model List<ValueTuple<int, string, string, int>>  
@*IEnumerable<CoreApplication.Models.Book>*@

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
        @Html.ActionLink("Search", "Search")
    </p>
    <table class="table">
        <thead>
            <tr>

                @*<th>
                        @Html.DisplayNameFor(model => model.item1)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Item1)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

                        </td>*@
                </tr>
            }
        </tbody>
    </table>
