@model IEnumerable<DhavalSir_TASK.Models.ProductsTB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>

<div>
    <p id="go">Search</p>   
    </div>

<div id="search">
    <form method="post">
        Products Name: <input type="text" name="pname" id="txtsearch" />
       
    </form>
  
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search").hide();

        $("#go").click(function () {
            $("#search").show();
        })

        $("#txtsearch").keypress(function (e) {
            
            //alert(String.fromCharCode(e.which))
            var x=String.fromCharCode(e.which)
            $.ajax({

                url: "/Product/Index/",
                type: "POST",
                data: '{name: "' + $("#txtsearch").val() + '" }',

                success: function (response) {
                    alert("Data Success");

                    
                }
            });
        });
    })
    </script>
